<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'teacher/ol.html' %}
    {%load static %}

    <title>
        {% block title %}
            Teachers
        {% endblock %}
    </title>

</head>
<body>
    {% block content %}
    <div style="padding: 20px; text-align: justify; margin-top: 80px;">
        <section class="teacher-profile" >

            <h1 class="heading">profile details</h1>
         
            <div class="details">
               <div class="tutor">
                  <img src="{{ teacher.image.url }}" alt="{{teacher.name}}" class="teacher-image">
                  <a href="/t_update/{{teacher.id}}/"><h3>{{teacher.name}}</h3></a>
                  <span>{{teacher.qualification}}</span>
               </div>
               <div class="flex">
                  <p>total playlists : <span>{{num}}</span></p>
               </div>
            </div>
         
         </section>
         
         <section class="courses">
         
            <h1 class="heading">your courses</h1>

            <div class="box-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
               {% for course in courses %}
               <div class="box">
                  <div class="thumb">
                     <img src="{{course.thumbnail.url}}" alt="{{ course.title }}">
                  </div>
                  <h3 class="title">{{course.title}}</h3>
                  <a href="/playlist/{{course.id}}/" class="inline-btn">view playlist</a>
                  <a href="/cedit/{{course.id}}/" class="inline-btn" style="margin-left: 15px;">Edit Course</a>
               </div>
               {% endfor %}
         
            </div>

         
         </section>
    </div>
    
    {% endblock %}
</body>
</html>