<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'myapp/oz.html' %}
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <title>
        {% block title %}
            Course
        {% endblock %}
    </title>

</head>
<body>
    {% block content %}
    <div style=" margin-top: 0px; padding: 20px; text-align: justify; margin-top: 80px;">
        <section class="courses">
         
            <h1 class="heading">our courses</h1>

            <div class="box-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
               {%for course in data1%}
               <div class="box">
                  <div class="thumb">
                     <img src="{{course.thumbnail.url}}" alt="{{ course.title }}">
                  </div>
                  <h3 class="title">{{course.title}}</h3>
                  <a href="/t_playlist/{{course.id}}" class="inline-btn">view playlist</a>
                  <!-- <a href="/course/{{s_data.id}}" class="inline-btn" onclick="myFunction()" style="margin-left: 20px;">Add to profile</a> -->
                  <a href="/purchase/{{course.id}}" class="inline-btn" style="margin-left: 20px;"><i class="fas fa-shopping-cart"> Purchase</i></a>

               </div>
               {%endfor%}                  
            </div>

         
         </section>
        </div>
    
        
    </div>

    <!-- <script>
        function myFunction() {
          alert("This Course has been added to your Profile");
        }
    </script> -->
    

    {% endblock %}
        


</body>
</html>